@media (max-width: 1119px) {
    .burger {
        background-color: transparent;
        border: none;
        display: block;
    }
    .burger__img {
        width: 40px;
    }
    .burger__close {
        position: absolute;
        top: 30px;
        right: 30px;
    }
    .container {
        width: 668px;
    }
    .header {
        margin-bottom: 10px;
    }
    .header__upper__right {
        display: none;
    }
    .header__nav {
        display: none;
        padding: 30px;
        position: fixed;
        top: 0;
        right: 0;
        width: 50vw;
        height: 100vh;
        background-color: var(--blue);
    }
    #maps, #azs, #about {
        display: none;
    }
    .header__nav__list {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
    .header__nav__item {
        margin-bottom: 20px;
    }
    .header__nav__link {
        color: white;
    }
    .title-h1 {
        margin-bottom: 10px;
        font-size: 36px;
    }
    .title-h2 {
        font-size: 30px;
    }
    .hero__form {
        height: auto;
        padding: 20px;
    }
    .hero__form__input {
        width: 200px;
    }
    .hero__form__fields {
        width: 100%;
    }
    td, th {
        padding: 15px;
        font-size: 14px;
    }
    .delivery__field {
        width: 50%;
    }
    .delivery__slider {
        width: 250px;
    }
    .delivery__input {
        width: 250px;
    }
    .delivery__right {
        padding: 15px;
        width: 400px;
        height: 425px;
    }
    .delivery__text {
        width: 280px;
    }
    .work__wrapper {
        overflow-x: scroll;
    }
    .work__item {
        width: calc(50% - 15px);
        height: auto;
    }
    .work__item__info {
        width: 280px;
    }
    .advantages__item {
        width: 320px;
        margin-bottom: 30px;
    }
    .certificates__swiper {
        width: 100%;
        height: 380px;
    }
    .certificates__swiper-slide {
        height: 280px;
    }
    .certificates__img {
        height: auto;
    }
    .feedback__slide {
        height: 360px;
    }
    .feedback__text {
        font-size: 14px;
    }
    .questions {
        padding: 10px 0;
    }
    .questions__title {
        margin-bottom: 10px;
    }
    .questions__form {
        width: 100%;
    }
    .questions__input {
        width: 230px;
    }
    .questions__text {
        width: 100%;
    }
    .footer__nav {
        display: none;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 550px;
    }
    .header__nav {
        width: 80vw;
    }
    .hero__title {
        font-size: 20px;
        margin: 10px;
        line-height: 100%;
    }
    .title-h2 {
        font-size: 16px;
        margin-bottom: 0;
    }
    .hero, .price, .work {
        margin-bottom: 10px;
    }
    .hero__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    .checkbox {
        text-align: center;
    }
    .price .container .price__table {
        overflow-y: scroll;
    }
    td {
        padding: 5px;
    }
    .table {
        margin-bottom: 0;
    }
    .hero__form__fields {
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
    }
    .hero__form__field {
        width: 100%;
        margin-bottom: 10px;
    }
    .hero__form__input {
        width: 100%;
    }
    .delivery {
        padding: 10px 0;
    }
    .delivery__wrapper {
        flex-direction: column;
    }
    .delivery__field, .delivery__input, .delivery__slider {
        width: 100%;
    }
    .delivery__right {
        width: 100%;
        height: auto;
    }
    .delivery__text {
        width: 400px;
    }
    .delivery__right .btn {
        align-self: center;
    }
    .work__wrapper {
        overflow-x: scroll;
    }
    .work__item {
        width: calc(50% - 15px);
        height: auto;
    }
    .work__item__info {
        width: 200px;
    }
    .work__item__title {
        font-size: 16px;
    }
    .work__item__text {
        font-size: 14px;
        width: 200px;
    }
    .work__item__text__small {
        font-size: 12px;
        margin-bottom: 0;
    }
    .advantages {
        padding: 10px 0;
    }
    .advantages__item {
        flex-direction: column;
        padding: 10px;
        width: calc(50% - 15px);
        height: auto;
    }
    .swiper__top {
        display: flex;
        flex-direction: column;
    }
    .certificates {
        padding: 10px 0;
    }
    .certificates__swiper {
        height: 500px;
    }
    .certificates__swiper-slide {
        width: 300px;
        height: 360px;
    }
    .feedback {
        padding: 10px 0;
    }
    .feedback__slide {
        height: 380px;
        padding: 10px;
    }
    .swiper3 {
        margin-bottom: 20px;
    }
    .questions__form {
        flex-direction: column;
    }
    .questions__text {
        font-size: 14px;
    }
    .questions__text:last-child {
        font-size: 12px;
    }
    .questions__input {
        width: 100%;
        margin-bottom: 10px;
    }
    .footer__top__left {
        margin-bottom: 10px;
    }
    .copyright {
        text-align: center;
    } 
    .privacy {
        font-size: 12px;
    }
    .sales-department {
        margin-bottom: 5px;
        text-align: center;
    }
    .footer__container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 576px) {
    .container {
        width: 290px;
    }
    .delivery__text {
        width: 200px;
    }
    .advantages__item {
        width: 100%;
    }
    .work__item {
        width: 290px;
        height: 400px;
    }
    .work__item__info {
        width: 230px;
    }
    .time {
        margin-bottom: 30px;
    }
    .work__item__title {
        margin-bottom: 15px;
    }
    .work__item__text {
        margin-bottom: 10px;
    }
    .certificates__title {
        white-space: normal;
        width: 100px;
        line-height: normal;
    }
    .certificates__swiper-slide {
        height: 400px;
    }
}